

.dog-card {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-delete,
.btn-likes {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff7675;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn-delete:hover,
.btn-likes:hover {
  background-color: #d63031;
}

.likes {
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

 .btn-likes {
  background-color: #74b9ff;
}

.btn-likes:hover {
  background-color: #3498db;
} 
